.nickname {
    background: linear-gradient(270deg, #f4d03f, #ffb84d, #ff751a, #ff471a);
    color: transparent;
    background-clip: text;
    animation-name: rainbow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    background-size: 200% 200%;
}

@keyframes rainbow {
    from {
        background-position: 0% 100%;
    }

    to {
        background-position: 100% 0%;
    }
}