html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;

    font-size: large;
}

nav {
    background-color: azure;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.nav-list a {
    text-decoration: none;
    color: inherit;
}

.content {
    flex: 1;
    align-self: center;
    width: 50%;
    margin: 0 auto;
    hyphens: auto;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: x-large;
}

.socials {
    display: flex;
    gap: 13px;
}

.socials img {
    height: 40px;
}

.github-icon {
    filter: invert();
}